<% cache do %>
	<div class="contain-to-grid sticky">
	  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="#">ASMI</a></h1>
		    </li>
		     <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		  </ul>
	  </nav>
	</div>
	 <% if user_signed_in? %>
	   <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'button') %>
	 <% end %>

<% end %>