<% cache do %>
	<div class="contain-to-grid sticky">
	  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="#">My Site</a></h1>
		    </li>
		     <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		  </ul>
	  </nav>
	</div>
<% end %>